<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar id="toolbar" color="primary">
  {{title}}

  <button mat-button (click)="openPools()">POOLS</button>
  <button mat-button (click)="openNodes()">NODES</button>
  <button mat-button (click)="openMining()">GET STARTED</button>
</mat-toolbar>


<!-- <div style="text-align:center">
  <img width="188" height="177" src="assets/vtc.png">
</div> -->

<div class="spacer">
</div>

<router-outlet></router-outlet>

<div class="spacer">
</div>

<div id="footer" color="primary">
  GET INVOLVED
  <div class="button-row" fxHide.lt-sm="true">
    <button mat-fab (click)="openLink('https://discord.gg/SUy9Hsr')">
      <fa name="heart" size="2x"></fa>
    </button>
    <button mat-fab (click)="openLink('https://www.reddit.com/r/vertcoin')">
      <fa name="reddit" size="2x"></fa>
    </button>
    <button mat-fab (click)="openDonate()">
      <fa name="usd" size="2x"></fa>
    </button>
    <button mat-fab (click)="openLink('https://github.com/Gehhilfe/vtc-scanner')">
      <fa name="github" size="2x"></fa>
    </button>
  </div>
</div>
