<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar id="toolbar" color="primary">
  {{title}}

  <button mat-button (click)="openPools()">POOLS</button>
  <button mat-button (click)="openMining()">GET STARTED</button>
</mat-toolbar>


<!-- <div style="text-align:center">
  <img width="188" height="177" src="assets/vtc.png">
</div> -->

<div id="spacer">
</div>

<router-outlet></router-outlet>

<div id="spacer">
</div>

<div id="footer" color="primary">
  GET INVOLVED
  <div class="button-row">
    <button mat-fab>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-fab>
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
