<div class="mat-elevation-z8">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
            <img src="assets/blank.gif" class="flag flag-{{element.country.toLowerCase()}}"/>
      </mat-cell>
    </ng-container>

    <!-- IP Column -->
    <ng-container matColumnDef="ip">
      <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.dns}}</mat-cell>
    </ng-container>

    <!-- Fee Column -->
    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Fee</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell"> {{element.fee}} %</mat-cell>
    </ng-container>

    <!-- Miners Column -->
    <ng-container matColumnDef="active_miners">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Miners</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell"> {{element.active_miners}}</mat-cell>
    </ng-container>

    <!-- Hashrate Column -->
    <ng-container matColumnDef="hash_rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Hashrate</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell"> {{element.hash_rate | hashRate}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="numberOfEntries"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25]"
                 (page)="changePage($event)">
  </mat-paginator>
  <mat-progress-bar mode="query" *ngIf="bussy"></mat-progress-bar>
</div>
