<div class="mat-elevation-z2">
  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Country Column -->
    <ng-container matColumnDef="country">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img src="assets/blank.gif" class="flag flag-{{element.country.toLowerCase()}}"/>
      </mat-cell>
    </ng-container>

    <!-- Score Column -->
    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <mat-icon color="primary" *ngIf="element.score == 4" svgIcon="star"></mat-icon>
      </mat-cell>
    </ng-container>

    <!-- IP Column -->
    <ng-container matColumnDef="ip">
      <mat-header-cell *matHeaderCellDef>IP</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.ip}}</mat-cell>
    </ng-container>

    <!-- Fee Column -->
    <ng-container matColumnDef="fee">
      <mat-header-cell *matHeaderCellDef mat-sort-header mat->Fee</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell"> {{element.fee}} %</mat-cell>
    </ng-container>

    <!-- Miners Column -->
    <ng-container matColumnDef="active_miners">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true">Miners</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell" fxHide.lt-sm="true"> {{element.active_miners}}</mat-cell>
    </ng-container>

    <!-- Hashrate Column -->
    <ng-container matColumnDef="hash_rate">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-sm="true">Hashrate</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell" fxHide.lt-sm="true"> {{element.hash_rate | hashRate}}</mat-cell>
    </ng-container>

    <!-- Reponsetime Column -->
    <ng-container matColumnDef="ping">
      <mat-header-cell *matHeaderCellDef mat-sort-header fxHide.lt-md="true">Ping</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell" fxHide.lt-md="true"> {{element.ping}} ms</mat-cell>
    </ng-container>

    <!-- Uptime Column -->
    <ng-container matColumnDef="uptime">
      <mat-header-cell *matHeaderCellDef fxHide.lt-md="true">Uptime</mat-header-cell>
      <mat-cell *matCellDef="let element" class="numbercell" fxHide.lt-md="true"> {{element.last_offline | uptime | amDuration:'ms'}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [length]="numberOfEntries"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25]"
                 (page)="changePage($event)">
  </mat-paginator>
  <mat-progress-bar mode="query" *ngIf="bussy"></mat-progress-bar>
</div>
