.flag {
  vertical-align: middle;
}


.numbercell {
}

.mat-column-country, .mat-column-score {
  flex: 0 0 50px;
}


.mat-column-fee, .mat-column-active_miners, .mat-column-hash_rate, .mat-column-ping, .mat-column-uptime{
  flex: 0 0 100px;
}
